.img {
  margin-top: 50px;
}

.error-code {
  margin-top: 30px;
}

.clarification {
  margin-top: 20px;
}

.return-button {
  margin-top: 5px;
}

.links-title {
  margin-top: 20px;
}

.pointer {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
