<div class="sidebar">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav navbar-nav">
      <li>
        <a class="nav-link" [routerLink]="['../admin']" routerLinkActive="active">
          <i class="material-icons icon">dashboard</i> Dashboard</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['tables']" routerLinkActive="active">
          <i class="material-icons icon">reorder</i> Tables</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['charts']" routerLinkActive="active">
          <i class="material-icons icon">show_chart</i> Charts</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['messages']" routerLinkActive="active">
          <i class="material-icons icon">message</i> Messages</a>
      </li>
    </ul>
  </div>
  <div>
    <button class="button pointer">
        <i class="material-icons icon leftIcon">keyboard_arrow_left</i>
    </button>
  </div>
  <!-- sidebar-wrapper -->
</div>
