  <div class="row">
    <h5 class="sidebar-title">Risk List</h5>
  </div>
  <div class="row sidebar-row pointer"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
  [routerLink]="['table']">
    <a class="sidebar-link">
      <h6 class="sidebar-item">Table</h6>
    </a>
  </div>
  <div class="row sidebar-row pointer" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
  [routerLink]="['charts']">
    <a class="sidebar-link">
      <h6 class="sidebar-item">Charts</h6>
    </a>
  </div>
  <div class="row sidebar-row pointer"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
  [routerLink]="['theory']">
    <a class="sidebar-link">
      <h6 class="sidebar-item">Theory</h6>
    </a>
  </div>