.forgot-form {
    margin-top: 10px;
}

.forgot-main {
    margin-bottom: 190px;
}

h1 {
    color: #575a5b;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: underline;
}

i {
    font-size: 80px;
}

.title,
.tss,
.link,
.form-label,
.btn-block {
    font-family: "Oxygen", "Oxygen", "Segoe UI", "Helvetica Neue", sans-serif;
}

.tss {
    font-feature-settings: 'kern';
    font-weight: 300;
    line-height: 1.5;
    color: #595c5e;
    font-size: 85%;
}

.form-label {
    color: #000000ca;
    font-weight: 600;
    font-size: 90%;
    margin-bottom: 0px;
}

.form-input {
    height: 44px;
}

.link {
    text-decoration: underline;
}

.btn {
    margin-top: 10px;
    border: none;
}

.pointer {
    cursor: pointer;
    /* Disabled double click selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}