<div class="container-fluid pass-change">
  <div class="row delete-row">
    <div class="title">
      <h3>Delete Account</h3>
      <p>You may delete your account at any time. However, this action is irreversible.</p>
    </div>
    <div class="del-button">
      <button class="btn btn-danger pointer" data-toggle="modal" data-target="#deleting">I understand, delete my account</button>
    </div>
    <div *ngIf="dellError" class="alert alert-success" role="alert">
        Unexpected Error
    </div>
  </div>
</div>

<div class="modal fade" id="deleting" tabindex="-1" role="dialog" aria-labelledby="deleting" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Account</h5>
          <button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Did you think it all right?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pointer" data-dismiss="modal" (click)="accountDel()">Delete</button>
          <button type="button" class="btn btn-secondary pointer" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
