<div class="row">
    <div class="page-header">
      <h1 class="mb-3 bd-text-purple-bright">Admin page
        <br>
        <small class="small">User's table</small>
      </h1>
    </div>
</div>

<div class="container">
  <table class="table table-hover table-responsive table-bordered">
    <thead class="thead-default">
      <tr>
        <th>
            <div class="pointer" > <!-- (click)="sort('riskname')" -->
              First name
              <!-- <i class="fa" [ngClass]="{'fa-sort': column != 'riskname', 'fa-sort-asc': (column == 'riskname' && isDesc),
                      'fa-sort-desc': (column == 'riskname' && !isDesc) }" aria-hidden="true"> </i> -->
            </div>
        </th>
        <th>
          <div class="pointer" > <!-- (click)="sort('riskname')" -->
            Last name
            <!-- <i class="fa" [ngClass]="{'fa-sort': column != 'riskname', 'fa-sort-asc': (column == 'riskname' && isDesc),
                    'fa-sort-desc': (column == 'riskname' && !isDesc) }" aria-hidden="true"> </i> -->
          </div>
        </th>
        <th>
          <div class="pointer" > <!-- (click)="sort('riskname')" -->
            Username
            <!-- <i class="fa" [ngClass]="{'fa-sort': column != 'riskname', 'fa-sort-asc': (column == 'riskname' && isDesc),
                    'fa-sort-desc': (column == 'riskname' && !isDesc) }" aria-hidden="true"> </i> -->
          </div>
        </th>
        <th>
          <div class="pointer" > <!-- (click)="sort('riskname')" -->
            Email
            <!-- <i class="fa" [ngClass]="{'fa-sort': column != 'riskname', 'fa-sort-asc': (column == 'riskname' && isDesc),
                    'fa-sort-desc': (column == 'riskname' && !isDesc) }" aria-hidden="true"> </i> -->
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
