<div *ngIf="isDataAvailable && itemsLength > 2" style="display: block">
    <canvas style="height:80vh; width:80vw" baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
</div>
<div *ngIf="!isDataAvailable && itemsLength > 2" class="loader">
    <i class="fas fa-circle-notch fa-spin fa-5x"></i>
</div>
<div *ngIf="itemsLength < 2">
    <h4 class="empty-chart-title">Please add at least two risks</h4>
</div>