.pointer {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svg-inline--fa {
    color: #7e7b7b;
    font-size: 20px;
    margin-bottom: 2px;
}