<div class="main" [style.margin-top.px]="mainMarginTop">
    <div class="row">
        <div class="col">
            <div class="card table-card" [style.margin-left.px]="card.marginLeft" [style.margin-top.px]="card.marginTop" [style.width.%]="card.width">
                <div class="card-header">
                    <h5 class="">User's table</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-responsive-lg table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th>
                                    <div class="pointer" (click)="sort('firstname')">
                                        First name
                                    </div>
                                </th>
                                <th>
                                    <div class="pointer" (click)="sort('lastname')">
                                        Last name
                                    </div>
                                </th>
                                <th>
                                    <div class="pointer" (click)="sort('username')">
                                        Username
                                    </div>
                                </th>
                                <th>
                                    <div class="pointer" (click)="sort('email')">
                                        Email
                                    </div>
                                </th>
                                <th>
                                    <div class="pointer" (click)="sort('date')">
                                        Date of registration
                                    </div>
                                </th>
                                <th>
                                    <div class="">
                                        Delete
                                    </div>
                                </th>
                            </tr>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | orderBy: {property: column, direction: direction}; let i = index;">
                                <td>{{user.firstname}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td hidden>{{user.uid}}</td>
                                <td>{{user.date | date: 'dd MMMM yyyy'}} </td>
                                <td class="text-center">
                                    <app-user-del [username]="user.username" [i]="i" [users]="users"></app-user-del>
                                    <a class="pointer" (click)="toggleTable(user.uid, user.username)"><i class="fa fa-table"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer" *ngIf="displayTable">
                    <div class="table-title">
                        <h5>Table Of Risks</h5>
                        <h6 class="mb-3 bd-text-purple-bright">Username: {{username}}</h6>
                    </div>
                    <div class="risk-table">
                        <app-table [items]="adminItems" (tableCleared)="tableClear($event)"></app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>