.pointer {
    cursor: pointer;
    /* Disabled double click selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    margin-top: 56px;
}


/* Table card */

.risk-table-card {
    margin: 10px 0px 0px 20px;
    width: 95%;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.836); */
}

.card {
    border: 1px solid #1793d3;
}