.pointer {
    cursor: pointer;
    /* Disabled double click selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Table card */

.risk-table-card {
    margin: 10px 0px 0px 0px;
    width: 95%;
}

.card {
    border: 1px solid #1793d3;
}