.table-container {
    margin-bottom: 10%;
}

body {
    background-color: whitesmoke;
}

th {
    background-color: #1793d3;
    color: white;
    border: 1px solid #1793d3;
}

td  {
    border: 1px solid #1793d3;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #e9ecef;
}


.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8 {
    text-align: center;
}

.col1 {
    width: 15%;
}

.col2 {
    width: 11%;
}

.col3 {
    width: 12%;
}

.col4 {
    width: 11%;
}

.col5 {
    width: 10%;
}

.col6 {
    width: 8%;
}

.col7 {
    width: 17%;
}

.col8 {
    width: 6%;
}

.pointer {
    cursor: pointer;
    /* Disabled double click selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter {
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.tfooter {
    display: flex;
}

.total {
    margin-left: 40px;
    overflow: hidden;
    min-width: 150px
}

.limit-set {
    display: flex;
    margin-right: auto;
    padding-left: 2%;
}

.set {
    margin-left: 22px;
    margin-top: 5px;
}

.select {
    margin-right: auto;
    padding-left: 2%;
    height: 2px;
}

select.form-control:not([size]):not([multiple]) {
    height: 2.2em;
    width: 4.15em;
}
