<div class="container-fluid footer" *ngIf="footerService.visible">
    <div class="row first-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <span>Created by Noskov Anton</span>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2 text-center">
            <a class="ion ion-social-github" target="_blank" (click)="repository()"></a>
            <a class="ion ion-social-linkedin" target="_blank" (click)="linkedin()"></a>
        </div>
    </div>
    <div class="row second-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <span>License: MIT</span>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <a class="link" [routerLink]="['/report']">Report a problem</a>
        </div>
    </div>
    <div class="row third-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
    </div>
</div>