.first-row {
    padding-top: 15px;
    line-height: 1.5
}

.second-row {
    margin-top: 10px;
    line-height: 1.5
}

.third-row {
    line-height: 1.5
}

.footer {
    background-color: white;
    height: 100px;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.589); */
}

a {
    text-decoration: none;
}

.ion {
    font-size: 2rem;
}

span,
a,
.ion {
    color: #1793d3;
}

.pointer {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}