.first-row {
    padding-top: 15px;
    line-height: 1.5
}

.second-row {
    margin-top: 10px;
    line-height: 1.5
}

.third-row {
    line-height: 1.5
}

.footer {
    background-color: white;
    height: 100px;
    border-top: 0.1px solid #bcc0c2;
}

a {
    text-decoration: none;
}

.svg-inline--fa {
    font-size: 30px;
}

span,
a,
.fab {
    color: #1793d3;
}

.pointer {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}