<div class="container-fluid footer" *ngIf="footerService.visible">
  <div class="row first-row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <span>Created by Noskov Anton</span>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <a class="ion ion-social-github" href="https://github.com/NoskovAS" target="_blank"></a>
      <a class="ion ion-social-linkedin" href="https://vk.com/id42949302" target="_blank"></a>
    </div>
  </div>
  <div class="row second-row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <span>License: MIT</span>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-2"></div>
  </div>
</div>