<div class="container-fluid footer" *ngIf="footerService.visible">
    <div class="row first-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <!-- <span>Created by Noskov Anton</span> -->
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <a href="https://github.com/NoskovAS/risk-service" class="pointer " target="_blank"><i class="fab fa-github" ></i></a>
            <a href="https://vk.com/id42949302" class="pointer " target="_blank"><i class="fab fa-vk"></i></a>
        </div>
    </div>
    <div class="row second-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <!-- <span>License: MIT</span> -->
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <a class="pointer link" [routerLink]="['/report']">Report a problem</a>
        </div>
    </div>
    <div class="row third-row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
    </div>
</div>