.user {
  margin: auto;
  margin-top: 2%;
}

body {
  background-color: whitesmoke;
}

.form-module {
  margin-bottom: 80px;
}

.main-module {
  border-bottom: 2px solid #1793d3;
}

.add-row {

}

.form-group {
  padding: 0;
}

.close {
  /* padding-top: 180%; */
}

.col {
  padding-right: 0;
}

.add-row {
  position: relative;
  margin-top: 20px;
}

.bottom-row {
  margin-bottom: 70px;
}

.buttonAdd {
  margin: auto;
}

.small {
  color: black;
  font-family: cursive;
  font-size: 24px;
}


/* Button */

.btn {
  background-color: rgba(0, 0, 0, 0);
  border-width: 1.4px;
  border-color: #1793d3;
  ;
  color: #1793d3;
  ;
  font-size: 18px;
}

.btn:hover {
  background-color: #1793d3;
  ;
  color: white;
  font-size: 18px;
}

.btn:disabled {
  background-color: rgba(128, 128, 128, 0.69);
  color: #BDBDBD;
  border-color: rgba(128, 128, 128, 0.69);
}

.btn:disabled:hover {
  background-color: rgba(128, 128, 128, 0.69);
  color: #BDBDBD;
  border-color: rgba(128, 128, 128, 0.69);
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style icon */

.inner-addon .material-icons {
  position: absolute;
  padding: 10px;
}

.material-icons {
  bottom: -3px;
}


/* align icon */

.right-addon .material-icons {
  right: 10px;
}


/* add padding  */

.right-addon input {
  padding-right: 40px;
}

select {
  padding: 0;
  padding-right: 30px;
}


/* Validation CSS classes */

.ng-valid[required],
.ng-valid.required {
  border-left: 4px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 4px solid #cf4b4bc5;
  /* red */
}

.pointer {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.menu {
  background-color: #343a40;
}

.title-row {
  background-color: #1793d3;
  height: 60px;
  margin-bottom: 30px;
}

.left-title {
  margin-top: 18px;
  margin-left: 5px;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

.right-title {
  margin-top: 20px;
  margin-left: 40px;
  color: white;
}

.small-right {
  font-weight: bold;
  font-size: 1em;
}

.form-label {
  margin-left: 20px;
  margin-bottom: 2px;
  line-height: 1.45455;
  font-weight: 300;
  letter-spacing: 0.016em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
