:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}