body {    
    background-color: whitesmoke;
}

.title {
    margin-left: 5px;
    margin-top: 4px;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color: #0a0a0abe;
}

.logo {
    vertical-align: middle;
}

.right {
    margin-top: 10px;
    margin-left: 15px;
}

.doc {
    margin-top: 15px;
    margin-left: 180px;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color:#1793d3;
}

h1 {
    text-align: center;
    font-size: 2em;
    align-self: center;
    color: #202020;
    font-weight: bold;
}

.small-title {
    text-align: center;
    color: #202020;
}

.main-button {
   /*  margin-right: 50%;
    margin-left: 50%;
    width: 50%; */
}

.col-centered{
    float: none;
    margin: 0 auto;
}
