body {
  background-color: whitesmoke;
}

.register-form {
  margin-top: 2%;
  margin-bottom: 100px;
}

h1 {
  color: #1793d3;
}

.tss,
.title,
.form-label,
.btn-block {
  font-family: "Oxygen", "Oxygen", "Segoe UI", "Helvetica Neue", sans-serif;
}

.link {
  text-decoration: underline;
}

.btn {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
  /* Disabled double click selection */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
