.title-row {
    margin-bottom: 50px;
}

.title {
    margin: auto;
    margin-top: 20px;
    font-weight: 300;
    color: #204056;
    font-size: 40px;
    line-height: 46px;
}

.menu {
    margin-bottom: 20px;
}

.menu-item {
    height: 50px;
}

.menu-item,
.title
h5 {
    font-family: "Oxygen","Oxygen","Segoe UI","Helvetica Neue",sans-serif;
}

.pointer {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active {
    background-color: #ffffff;
}

.menu-link,
.menu-item
{
    border: none;
    outline: none;
}

h5 {
    padding: 14px 5px 15px 15px;
    margin: 0;
    font-size: 1.01rem;
}

.profile-form {
    margin-top: 4%;
}
