<div class="container container-fluid">

    <div class="row title-row">
        <h1 class="title">My Account</h1>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 menu">
            <div class="menu-item" [routerLinkActive]="['active']" [routerLink]="['account']">
                <a class="pointer menu-link">
                    <h5>Basic Information</h5>
                </a>
            </div>
            <div *ngIf="!socialLogin" class="menu-item" [routerLinkActive]="['active']" [routerLink]="['password']">
                <a class="pointer menu-link">
                    <h5>Change Password</h5>
                </a>
            </div>
            <div *ngIf="!socialLogin" class="menu-item" [routerLinkActive]="['active']" [routerLink]="['delete_acct']">
                <a class="pointer menu-link">
                    <h5>Delete Account</h5>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-1"></div>
    </div>