<div class="container-fluid pass-change">
    <div class="row">
        <div>
            <h3 class="title">Change Password</h3>
            <div *ngIf="errors.changed" class="alert alert-success" role="alert">
                Password changed successfully
            </div>
            <div *ngIf="errors.fieldError" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> Please fill in all the fields.
                <button type="button" class="close pointer" (click)="errors.fieldError = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div *ngIf="errors.changedError" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> Current password is incorrect.
                <button type="button" class="close pointer" (click)="errors.changedError = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div *ngIf="errors.noMatch" class="alert alert-danger alert-dismissible fade show" role="alert">
                Confirmation password does not match.
                <button type="button" class="close pointer" (click)="errors.noMatch = false" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form class="change-pass-form" novalidate [formGroup]="passwordForm" (submit)="onChangeSubmit()">
                <div class="form-group" formGroupName="password">
                    <div class="form-internal">
                        <input class="form-input form-control" id="pwd" type="password" formControlName="pwd" placeholder="Password" aria-describedby="passHelpBlock">
                        <div class="">
                            <app-validator-message [field]="passwordForm.get('password').get('pwd')"></app-validator-message>
                        </div>
                    </div>
                    <div class="form-internal">
                        <input class="form-input form-control" id="confirm" type="password" formControlName="confirm" placeholder="Confirm password" aria-describedby="confirmHelpBlock">
                        <div class="">
                            <app-validator-message [field]="passwordForm.get('password').get('confirm')"></app-validator-message>
                        </div>
                    </div>
                    <div *ngIf="(this.passwordForm.value.password.pwd > 1) || (this.passwordForm.value.password.confirm > 1)">
                        <app-validator-message [field]="passwordForm.get('password')"></app-validator-message>
                    </div>
                </div>
                <i>We need your current password to confirm your changes</i>
                <br>
                <div class="form-group">
                    <input class="form-input form-control" id="currentPass" type="password" formControlName="currentPass" placeholder="Current Password">
                    <div class="">
                        <app-validator-message [field]="passwordForm.get('currentPass')"></app-validator-message>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary pointer" type="submit" value="ChangePass">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>