.pass-add {
    background-color: white;
    margin-bottom: 100px
}

.add-pass-form {
    display: inline-block;
    margin-left: 5px;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
}

.form-internal {
    margin-bottom: 15px;
}

.form-input {
    display: inline-block;
    height: 45px;
    width: 100%;
}

.title {
    margin-bottom: 20px;
    margin: 30px auto 20px 20px;
}

.title,
.form-label,
.alert {
    font-family: "Oxygen", "Oxygen", "Segoe UI", "Helvetica Neue", sans-serif;
}

.pointer {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alert {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
}