<div class="container-fluid pass-add">
    <div class="row">
        <div class="col-lg-8">
            <h3 class="title">Add Password</h3>
            <div *ngIf="errors.added" class="alert alert-success" role="alert">
                Password successfully added
            </div>
            <div *ngIf="errors.added" class="alert alert-success" role="alert">
                Now you can enter the service with a username and password
            </div>
            <div *ngIf="errors.fieldError" class="alert alert-danger alert-dismissible fade show" role="alert">
                Please fill in all the fields
            </div>
            <div *ngIf="errors.addedError" class="alert alert-danger alert-dismissible fade show" role="alert">
                Current password is incorrect
            </div>
            <div *ngIf="errors.noMatch" class="alert alert-danger alert-dismissible fade show" role="alert">
                Confirmation password does not match
            </div>
            <form class="add-pass-form col-md-12" novalidate [formGroup]="addPasswordForm" (submit)="onAddSubmit()">
                <div class="form-group" formGroupName="password">
                    <div class="form-internal">
                        <input class="form-input form-control" id="pwd" type="password" formControlName="pwd" placeholder="Password" aria-describedby="passHelpBlock">
                        <app-validator-message [field]="addPasswordForm.get('password').get('pwd')"></app-validator-message>
                    </div>
                    <div class="form-internal">
                        <input class="form-input form-control" id="confirm" type="password" formControlName="confirm" placeholder="Confirm password" aria-describedby="confirmHelpBlock">
                        <app-validator-message [field]="addPasswordForm.get('password').get('confirm')"></app-validator-message>
                    </div>
                    <div *ngIf="(this.addPasswordForm.value.password.pwd > 1) || (this.addPasswordForm.value.password.confirm > 1)">
                        <app-validator-message [field]="addPasswordForm.get('password')"></app-validator-message>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary pointer" type="submit" value="AddPass">Add Password</button>
                </div>
            </form>
        </div>
    </div>
</div>