.login-form {
    margin-top: 2%;
}

.login-main {
    margin-bottom: 200px;
}

h1 {
    color: #1793d3;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
}

i {
    font-size: 50px;
}

.title,
.tss,
.link,
.form-label,
.btn-block {
    font-family: "Oxygen", "Oxygen", "Segoe UI", "Helvetica Neue", sans-serif;
}

.link {
    text-decoration: underline;
}

.btn {
    margin-top: 30px;
    border: none;
}

.pointer {
    cursor: pointer;
    /* Disabled double click selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-google {
    background-color: #DD4B39;
}

.btn-github {
    background-color: #444444;
}

.social-button-text {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    line-height: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    height: 45px;
    padding-top: 10px;
    padding-left: 10%;
    text-align: left;
}

.social-button-icon {
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    border-top-left-radius: 11%;
    border-bottom-left-radius: 11%;
    overflow: hidden;
    height: 45px;
}

.btn-social {
    padding: 0;
    height: 45px;
}

.svg-inline--fa {
    margin-top: 10px;
}

.facebook-icon {
    background-color: #12357c;
}

.google-icon {
    background-color: rgb(150, 28, 14);
}

.github-icon {
    background-color: #1d1d1d;
}

.btn-facebook:hover {
    background-color: #1f57c5;
}

.btn-google:hover {
    background-color: rgb(202, 39, 21);
}

.btn-github:hover {
    background-color: #525252;
}