/* body {
    background-color: whitesmoke;
} */

.login-form {
  margin-top: 2%;
}

.login-main {
  margin-bottom: 200px;
}

h1 {
  color: #1793d3;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.title,
.tss,
.link,
.form-label,
.btn-block {
  font-family: "Oxygen", "Oxygen", "Segoe UI", "Helvetica Neue", sans-serif;
}

.link {
  text-decoration: underline;
}

.btn {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
  /* Disabled double click selection */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
