.main {
    margin-top: 70px;
    padding-left: 0px;
}

.card {
    border: 1px solid #1793d3;
    width: 300px;
    height: 120px;
    margin: auto
}

.card-title {
    font-size: 56px;
    font-weight: 300;
    margin-top: -15px;
}

.users-card {
    color: rgb(56, 206, 56);
}

.risks-card {
    color: rgb(150, 66, 230);
}

.reports-card {
    color: red;
}

h6 {
    color: #575a5b;
    font-size: 12px;
}