.alert {
    padding: 1px;
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 5px;
    display: block;
    animation: 1s alertAnim forwards;
}

.err-message {
    text-align: center;
    list-style-type: none;
    color: #111111;
}

.material-icons {
    position: relative;
    top: 6px;
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}